{% extends "layout.html" %}
{% set active_page = "account" %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-sm mb-3">
      <div class="info" style="border:1px solid #ddd; padding:5px; height:100%;">
        <h4 class="mb-4">Account information</h4>
        <p>Username: {{ current_user.username }}</p>
        <p>Personal identifier string: {{ current_user.five_letter_identifier }}</p>
        <p>Number of contacts: {{ current_user.get_contact_list()|length }}</p>
        <p>Created notes: {{ current_user.get_notes_count(count_filter='owned_only') }}</p>
        <p>Notes shared with you with read permissions: {{ current_user.get_notes_count(count_filter='not_owned_readable') }}</p>
        <p>Notes shared with you with read and write permissions: {{ current_user.get_notes_count(count_filter='not_owned_writable') }}</p>
        <p>Total number of accessible notes: {{ current_user.get_notes_count(count_filter='all') }}</p>
        <p></p>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="pwchangediv" style="border:1px solid #ddd; padding:5px; height:100%;">
        <form method="POST" action="{{ url_for('auth_pwupdate') }}">
          <div class="form-group">
            <h4>Change password:</h4>
          </div>
          <div class="form-group">
            {{ pwchangeform.oldpassword.label }}
            {{ pwchangeform.oldpassword(class_="form-control") }}
          </div>
          <div class="form-group">
            {{ pwchangeform.newpassword.label }}
            {{ pwchangeform.newpassword(class_="form-control") }}
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Change password</button>
          </div>
          {% if passwordMsg %}
          <p>{{ passwordMsg }}</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h4 style="margin:0px;">Contacts</h4>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm">
      <div class="leftsidewrapper" style="border:1px solid #ddd; padding:10px; height:100%;">
        <ul class="list-group list-group-flush align-items-center">
          {% for contact in contactlist %}
          <li class="list-group-item">
            <p>{{ contact.username }}</p>
            <p>{{ contact.added_date }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="container rightsidewrapper">

        <div class="row mb-4">
          <div class="col-12 inviteformdiv" style="border:1px solid #ddd; padding:10px; height:100%;">
            <form method="POST" action="{{ url_for('auth_invite') }}" class="form">
              <div class="upper">
                <div class="left" style="display:inline;">
                  {{ inviteForm.user_identifier.label }}
                </div>
                <div class="right float-right" style="display:inline;">
                  {{ inviteForm.user_identifier(class_="form-control", style="display:inline;") }}
                  <button class="btn btn-primary" style="display:inline;">Invite</button>
                </div>
              </div>

              {% for error in inviteForm.user_identifier.errors %}
              <p>{{ error }}</p>
              {% endfor %}
              {% if invitedDoneMsg %}
              <p>{{ invitedDoneMsg }}</p>
              {% endif %}
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pendingcontactswrapper" style="border:1px solid #ddd; padding:10px; height:100%;">
            <h5>Pending contacts</h5>
            <ul class="list-group list-group-flush">
              {% if not pendingContactList %}
              <li class="list-group-item">No pending invitations!</li>
              {% endif %}
              {% for pendingContact in pendingContactList %}
              <li class="list-group-item">
                {{ pendingContact.username }}
                <div class="buttons float-right" style="display:inline;">
                  <form method="POST" action="{{ url_for('accept_contact', contact_id=pendingContact.id) }}"
                    style="display:inline;">
                    <button class="btn btn-primary" type="submit">Accept</button>
                  </form>
                  <form method="POST" action="{{ url_for('reject_contact', contact_id=pendingContact.id) }}"
                    style="display:inline;">
                    <button class="btn btn-primary" type="submit">Reject</button>
                  </form>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}