{% extends "layout.html" %}
{% set active_page = "newNote" %}

{% block body %}
{% if note_id %}
<form id="noteform" method="POST" action="{{ url_for('notes_update', note_id=note_id) }}">
  <div class="form-group">
    <div class="container">
      <row>
        <div class="col-12">
          <h4>Edit note</h4>
        </div>
      </row>
      <div class="row">
        <div class="col-12">
          {{ form.title.label }}
          {{ form.title(class_="form-control") }}
          <ul>
            {% for error in form.title.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          {{ form.content.label }}
          {{ form.content(class_="form-control", rows=10) }}
        </div>
      </div>
      {% if allowsharing %}
      <div class="row">
        <div class="col-6">
          {{ form.readShareWith.label }}
          {{ form.readShareWith(class_="custom-select custom-select-sm mb-3") }}
          <div class="mb-3" style="border:1px solid #ccc; padding:6px;">
            <p style="margin:0px;">Users with read rights (click to remove rights):</p>
            {% for user in read_users %}
            <a style="border-style:solid;border-width:1px;text-decoration:none;padding:3px 5px;border-radius:7px;background:#ddddfd;border-color:#ddddfd;margin:2px 2px;"
              onclick="return confirm('Remove read and write rights for this user?')"
              href="{{ url_for('note_remove_rights', user_id=user.id, note_id=note_id, write_only='') }}">{{ user.username }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-6">
          {{ form.writeShareWith.label }}
          {{ form.writeShareWith(class_="custom-select custom-select-sm mb-3") }}
          <div class="mb-3" style="border:1px solid #ccc; padding:6px;">
            <p style="margin:0px;">Users with write rights (click to remove rights):</p>
            {% for user in write_users %}
            <a style="border-style:solid;border-width:1px;text-decoration:none;padding:3px 5px;border-radius:7px;background:#ddddfd;border-color:#ddddfd;margin:0px;"
              onclick="return confirm('Remove write rights for this user?')"
              href="{{ url_for('note_remove_rights', user_id=user.id, note_id=note_id, write_only='true') }}">{{ user.username }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-12 mb-3">
          {{ form.tags.label }}
          {{ form.tags(class_="form-control") }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input class="btn btn-primary" type="submit" value="Update note">
        </div>
      </div>
    </div>
  </div>



</form>
{% else %}
<form id="noteform" method="POST" action="{{ url_for('notes_create') }}">
  <div class="form-group">
    <div class="container">
      <row>
        <div class="col-12">
          <h4>Create a new note</h4>
        </div>
      </row>
      <div class="row">
        <div class="col-12">
          {{ form.title.label }}
          {{ form.title(class_="form-control") }}
          <ul>
            {% for error in form.title.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          {{ form.content.label }}
          {{ form.content(class_="form-control", rows=10) }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          {{ form.readShareWith.label }}
          {{ form.readShareWith(class_="custom-select custom-select-sm") }}
        </div>
        <div class="col-6 mb-3">
          {{ form.writeShareWith.label }}
          {{ form.writeShareWith(class_="custom-select custom-select-sm") }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          {{ form.tags.label }}
          {{ form.tags(class_="form-control") }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input class="btn btn-primary" type="submit" value="Add note">
        </div>
      </div>
    </div>

  </div>
</form>
{% endif %}
{% endblock %}




{# <form id="noteform" method="POST" action="{{ url_for('notes_create') }}">
    <table>
      <tr>
        <td>{{form.title.label}}</td>
        <td>{{form.title}}</td>
        <td>
          <ul>
            {% for error in form.title.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>{{form.content.label}}</td>
        <td>{{form.content}}</td>
      </tr>
      <tr>
        <td>{{form.is_shared.label}}</td>
        <td>{{form.is_shared}}</td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Add note">
        </td>
      </tr>
    </table>
  </form> #}