{% extends "layout.html" %}

{% block body %}
<div class="container">
  <form method="POST" class="form-inline" action="{{ url_for('notes_search') }}">
    <div class="form-group mb-4">
      {{ form.search_str.label(class_="mr-4") }}
      {{ form.search_str(class_="form-control") }}
    </div>
    <button class="btn btn-primary mb-4 ml-2" type="submit">Search</button>
  </form>
  {% if activeFilterTags %}
  <div>
    <small>Active filter tags:</small>
    {% for tag in activeFilterTags %}
      <small>{{ tag }}</small>
    {% endfor %}
  </div>
  {% endif %}
  <h3 class="mb-6">Notes</h3>
  {% if noNotesMsg %}
  <p>{{ noNotesMsg }}</p>
  {% endif %}
  {% for note in notes %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{note.title}}</h5>
      <p class="card-text">{{ note.content }}</p>
      <div class="tags mb-3">
        <small>tags:</small>
        <small>
          {% for tag in note.tags %}
          {{ tag }}
          {% endfor %}
        </small>
      </div>
      <div>
        <small class="text-muted float-right">created by: {{ note.creator.username }} | last edit by:
          {{ note.last_editor.username }}
        </small>
        <div class="btn-group">
          <form class="form-inline pull-left" method="GET" action="{{ url_for('notes_edit', note_id=note.id) }}">
            <button class="btn btn-primary mr-3" type="submit" {{ 'disabled' if uid != note.creator_id }}>Edit</button>
          </form>
          <form class="form-inline" method="POST" action="{{ url_for('notes_delete', note_id=note.id) }}"
            onsubmit="return confirm('Delete note?');">
            <button class="btn btn-primary" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}